<!-- dashboard.component.html -->

<app-navbar></app-navbar>

<div class="flex flex-col h-screen pt-20">
  <!-- Main Content Area -->
  <div class="flex-grow bg-gray-100">
    <div class="container mx-auto px-4 py-8 mt-7">
      <h1 class="text-3xl font-bold mb-4">Dashboard</h1>
      <!-- Your dashboard content goes here -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Example card -->
        <a routerLink="/chequing" (click)="logAnchorClick()">
          <div class="bg-white rounded-lg shadow-md p-4">
            <h2 class="text-xl font-semibold mb-2">Chequing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
          </div>
        </a>
        <!-- Example card -->
        <div class="bg-white rounded-lg shadow-md p-4">
          <h2 class="text-xl font-semibold mb-2">Savings</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
        </div>
        <!-- Example card -->
        <div class="bg-white rounded-lg shadow-md p-4">
          <h2 class="text-xl font-semibold mb-2">E-Transfer</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet urna nec lorem commodo cursus.</p>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
</div>
