/* login.component.scss */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-group {
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn-login {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3c546b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
